@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap');
// font-family: 'Montserrat Subrayada', sans-serif;

@import 'common/navbar';
@import 'common/footer';
@import 'essayparts/intro';
@import 'essayparts/prepping';
@import 'essayparts/social';
@import 'essayparts/ultraviolet';
@import 'essayparts/virtual';
@import 'essayparts/conclusion';
@import 'essayparts/glossary';
@import 'essayparts/references';




.startpage{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 99vh;
  img {
    width: 20vw;
    height: auto;
  }
}



.startpage-title{

  padding-top: 20vh;
  font-size: 60px;
}
.startpage-subtitle{

  font-size: 40px;
}

.startpage-intro {
  font-size: 20px;
  padding-top: 40px;
}
.startpage-author{
  font-size: 20px;
  padding-top: 40px;
}
.startpage-start{
  font-size: 30px;
  padding-top: 25px;
}
.nextchapter{
  padding-top: 40px;
  padding-bottom: 40px;
}



//sections

.section-title{
  font-size: 50px;
  padding-bottom: 5vh;
}

//text
.text{
  font-size: 15px;
}

//conclusion
.conclusion-title{
  font-weight: bold;
}
